<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<link rel="stylesheet" href="styles/stylesheet.css">
<link rel="shortcut icon" href="img/fav.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Simple Website Redone</title>
</head>
<body>
<header><h1>A Little Bit About Makayla</h1></header>

<section><img src="img/me.JPG" alt="my face"></section>
<article>
<h2>Education</h2>
<p>Hello everyone! My name is Makayla Steinmetz, but occasionally go by Kayla. I am currently a Senior at Lewis-Clark State <br>college pursuing an Associates Degree in Web Design and Development.</p>
<p>Before starting at LCSC I attended college at the College of Western Idaho for Software Development and<br> the College of Southern Idaho for Elementary Education. I've had a variety of experiences in education so<br> far because of the differences in these degrees.</p>
<p>My goal is to obtain a career that will help with the furthering my education and give my kids the<br> options for education that I didn't have.</p>		
</article>
<aside>
<h3>Fun Facts</h3>
<ul>
<li>I'm had my daughter on October 07, 2019 via c-section.</li>
<li>I'm the shortest one in my family. I'm only 5'1" while my younger brother is 6'5".</li>
<li>My first car was a Kia Spectra that I nicknamed "Lightnig McQueen" because it was really slow.</li>
<li>I have the sweetest emotional support dog named Zoey. She's a miniature poodle mix that I saved from the pound.</li>
</ul>
</aside>
</body>
<footer><p>Created by: Makayla Steinmetz</p></footer>
</html>